@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
section{
	width:100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	background: #dcdde1;
	z-index: -10;
	align-items:center;
	
}
.list{
	width: 100%;
	max-width: 50rem;
	padding:0 1.5rem;
	display: flex;
	justify-content: space-between;
}
.item{
	list-style: none;
}

.link{
	display: inline-flex;
	font-size: 3rem;
	text-decoration:none;
	color: #535c68;
	width: 6rem;
	height: 6rem;
	transition:.5s linear;
	position: relative;
	z-index: 1;
	margin: auto;
}
.link:hover{
	color: #fff;
}

.link i{
	margin: auto;
}
.link::before{
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	widows: 6rem;
	height: 6rem;
	background:#000;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0);
	transition: 0.3s  cubic-bezier(.95, .32, .37 , 1.21);
	
}

.link:hover::before{
	transform: scale(1);
}
.item:nth-child(1) a:hover:before {
	background:repeating-linear-gradient(200deg,red,#C71585,yellow);
}

.item:nth-child(2) a:hover:before{
	background:#2EB6EC;
}


.item:nth-child(3) a:hover:before{
	background:#B20513;
}


.item:nth-child(4) a:hover:before{
	background:#21166C;
}